<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <title>Lushtech{% block title %}{% endblock %}</title> -->
    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mylushtech LTD">
    <!-- Social Appearance -->
    <meta property='og:title' content='Lushtech app is coming soon'/>
    <meta property='og:image' content='static/img/app-1.png'/>
    <meta property='og:description' content='Lushtech is a mobile app which controls and monitors the performances of your electric vehicle while rewarding you with LUSHCOINS: the digital currency of the environment! Our target launch date is April 2021! What can you buy with LUSHCOINS? You can sign up to learn more and to get your first lushcoin for free!'/>
    <meta property='og:url' content='https://lushtech.pythonanywhere.com'/>
    <!-- styles -->
    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="static/css/coming-soon.min.css" rel="stylesheet">
    <!-- {% block css %}{% endblock %} -->
  </head>
  <body>
    
    <div class="container">

      <br>

      <!-- child template -->
      {% block content %}{% endblock %}

      <br>

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      <br>
      <hr>

   
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/main.js')}}" type="text/javascript"></script>
    {% block js %}{% endblock %}

  </body>
</html>
